html, body {
	margin: 0;
	font-family: Tahoma;
	background: #EEEEEE;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a.link {
	color: #990000;
}

a.link:Hover {
	text-decoration: underline;
}

.left-col {
	position: fixed;
	top: 0%;
	margin-left: -185px;
	float:left;
}

.logo {
	width: 180px;
	height: 143px;
	background: url('images/icon/logo.png') no-repeat;
}

.left-col .menu {
	margin-top: 10px;	
	overflow: hidden;	
	float: left;
	width: 180px;
}

.left-col .menu a.item {
	border-radius: 5px;
	display: block;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 5px 0px;
	background: #99cc66;
	color: #fff;
	text-align: center;
}

.left-col .menu a.item:Hover {	
	background: #99cc99;
	color: #ffff00;
}

.right-col {
	position: absolute;
	top: 0%;
	margin-left: 960px;
	padding: 10px 0px 10px 10px;
	font-size: 10pt;
	color: #333;
	width: 162px;
}
.right-col .promotions {
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
	margin-bottom: 10px;
	width: 162px;
}
.right-col .ad-box {
	border: 1px solid #aaa;
	background: #ddd;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.right-col .ad-box-content {
	color: #333;
	font-size: 10pt;
}
.right-col .ad-box-content img {
	width: 150px;
}
.wrapper {
	border: 1px solid #CCC;background: #FFF;Z-index: 0;
	margin-bottom: 10px;
}

.header {	
	padding-top: 10px;
	position: absolute; top: 0%; Z-index: 0;margin: 0;
}

.user-photo, .user-info, .company-info, .search-content, .tool-box .tool, .textbox {
	Z-index: 100;border-radius: 5px;background: url('images/bg_black.png');padding: 5px 0px 5px 0px;
}

.user-photo {
	text-align: center;
}

.user-photo .btn-popup-changeavt, .btn-popup-changecvr{
	position: absolute;	
	display: none;
	z-index: 100;
	text-align: center;
	width: 130px;	
	padding: 5px 5px 5px 5px;
	border: 0px solid #ccc;
	background: #fff;
	opacity: 0.8;
	cursor: pointer;
}

.user-photo .btn-popup-changeavt {
margin: -28px 0px 0px 5px;
}

.btn-popup-changecvr {
	margin: 430px 0px 0px 30px;
}

.box-popup {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 200px;
	background: #FFF;
	border: 1px solid #ccc;
	padding: 0;
	margin-left: 120px;
	border-radius: 5px;
	display: none;
}

.box-popup .box-titlebar {
	display: block;
	text-align: right;
	background: url('images/bg_logo.png');
	color: #fff;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.box-popup .box-content {
	padding: 5px 5px 5px 5px;
}

.user-box-border, .company-box-border {
	border-radius: 5px;overflow: hidden; height: 140px; margin: 0 auto;
}

.user-box-border img {
	width: 140px;
}

.user-info-text, .company-info-text {
	width: 100%;
	height: inherit;
}

.user-info-text td, .company-info-text td {
	padding: 0px 10px 0px 10px;
	color: #FFFFFF;
}

.user-info-text td .user-name, .company-info-text td .company-name, .search-heading, .trip-heading, .editprofile-heading, .friend-heading{
	font-size: 24pt;
	font-family: Arial;
}

.user-info-text td .user-job {
	font-size: 14pt;
	font-style: italic;
}

.company-info-text td .company-type {
	font-size: 12pt;	
}

.search-box, .friends-toolbox {
	margin-top: 430px;
	position: absolute;
	Z-index: 0;	
	height: 30px;
}

.search-box .search-content {
	height: 30px;
}

.search-box .search-content input.search-input {
	background: transparent;
	border: 0;
	width: 290px;
	height: 30px;
	padding-left: 10px;
	color: #FFF;
	font-size: 12pt;
}

.friends-toolbox .tools .btn-tool {
	background: url('images/bg_black.png');
	border: 0;
	border-radius: 5px;
	width: 150px;
	padding: 10px;
	color: yellow;
	font-size: 14pt;
}

input:Focus, textarea:Focus {
	outline: none;
}

.search-box .search-content .search-icon {
	width: 32px;
	height: 32px;
	background: url('images/icon/search.png') no-repeat;
	float: right;
	margin-right: 10px;
}

.search-box .search-content .search-button {
	width: inherit;
	height: inherit;
	border: 0;
	background: transparent;
}

.tool-box {
	padding-top: 430px;
	position: absolute; top: 0%; Z-index: 0;margin: 0;
	height: 30px;
}

.tool-box .tool {
	border: 0;
	text-align: center;
	padding: 10px 0px 10px 0px;
	color: #FFF;
	font-size: 12pt;
}

.cover {
	background:transparent; height: 500px;
	width: 958px !important;
	overflow: hidden;margin: 0;
}

.cover  img {
	width: 958px;
}

.nav-button {
	float: right;	
}

/*Notifications*/
.nav-button .friends-notif {
	position: absolute;
	margin-top: 3px;
	margin-left: 85px;
	width: 15px;
	height: 15px;
	font-size: 10pt;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	border: 2px solid #fff;
	border-radius: 10px;
	background: #ff0000;
}

.nav {
	margin-left: 0;
	margin-bottom: 10px;
}

.nav .statusForm, .nav .announceForm  {
	margin: 0px -12px 0px 10px;padding: 0;
}

.nav .statusForm textarea.txtStatus {
	width: 325px; height: 80px;	
}

.nav .statusForm textarea {
	border: 0;
	background: transparent;
	resize: none;
	padding: 3px;
	font-family: Tahoma;
}

.nav .statusForm  input {
	border: 0;
	background: transparent;
	color: #fff;	
}

.nav .statusForm .txt-status {
	margin-right: 5px;
	font-size: 10pt;
	background: #EEE;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 5px;	
}

.nav .statusForm .btn-photo {
	background:#ff9900;
	width: 100px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
}

.nav .statusForm .btn-submit {
	background: url('images/bg_logo.png');
	width: 50px;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
}

.nav .announceForm textarea.txtAnnounce {
	width: 573px; height: 80px;
}

.nav .statusForm, .nav .announceForm .company-welcome  {
	padding: 5px 0px 5px 5px;
	text-align: justify;
	font-size: 12pt;
	font-family: Arial;
	color: #666;
}

.nav .announceForm .company-welcome {
	padding: 5px 25px 5px 5px;
	width: 570px;
}

.user-post-item {
	margin-top: 10px;	
}

.user-post-item  .wrapper {
	padding: 10px 10px 10px 10px;
}

.user-post-item  table{
	width: 100%;
	height: inherit;
}

.user-post-item .album-title, .place-to-search, .trip-title, .friend-request-title{
	color: #ff3366;
	font-size: 24pt;
}

.place-title, .related-info-title {
	color: #36b1bf;
	font-size: 24pt;
}

.place-detail {
	color: #979797;
}

.user-post-item .album-date, .user-post-item .post-date {
	color: #CCC;
	font-size: 12pt;
}

.user-post-item .album-detail {
	
}

.user-post-item .album-photos {
	height: 150px;
	width: 932px;
	overflow: hidden;
}

.user-post-item .album-photos .photo-strip, .related-album-photos .photo-strip, .trip-album-photos  .photo-strip {
	width: 2000px;
}

.user-post-item .album-photos img {
	height: 150px;
	border: 0;
	margin: -2px -2.5px -2px -2.5px;
}

.user-post-item .single-photo {
	width: 100%;
}

.user-post-item .single-photo img {
	width: inherit;
}

.user-post-item .post-content, .user-post-item .album-detail, .user-post-item .album-photos {
	padding-bottom: 10px;
}

.post-statistics{
	font-size: 10pt;
	color: #33cc66;
	padding: 5px 5px 5px 5px;
}
.post-comments {
	border: 0px solid #ccc;
}

.post-comments .form-comment {
	margin-bottom: 5px;
}

.post-comments .form-comment .input-wrapper {
	float: left;
}

.post-comments .form-comment div.txt-comment{
	margin-right: 5px;
	font-size: 10pt;
	background: #EEE;
	border-radius: 5px;
	overflow: hidden;
}

.post-comments .form-comment textarea.txt-comment {
	width: 400px;
	height: 44px;
	border: 0;
	resize: none;
	background: transparent;
	font-family: Tahoma;	
}

.post-comments .form-comment input.sbm-comment {
	width: 80px;
	height: 50px;
	background: url('images/bg_logo.png');
	color: #fff;
	font-size: 12pt;
	border: 0;
	border-radius: 5px;
}

.post-comments .single-comment {
	margin-bottom: 5px;
}

.post-comments .single-comment .comment-user-photo img,  .post-comments .form-comment .comment-user-photo  img{
	max-width: 50px;
}
.post-comments .single-comment .comment-user-photo, .post-comments .form-comment .comment-user-photo {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.post-comments .single-comment .comment-user-info {
	color: #333;
	font-size: 10pt;
}
.post-comments .single-comment .comment-user-info .user-name {
	color: #990000;
	font-size: 12pt;
	font-weight: bold;
}
.post-comments .single-comment .comment-user-content {
	font-size: 10pt;
	background: #EEE;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.footer {
	font-size: 10pt;
	color: #000;	
}
.footer .footer-copyright {
	float: left;
	font-weight: bold;
	padding-bottom: 25px;
}
.footer .footer-links {
	float: right;
	padding-bottom: 25px;
}
.footer .footer-links a {
	display: inline-block;	
	margin: 0px 5px 0px 5px;
	color: #333;
}
.footer .footer-links a:Hover {
	color: #666;
}

/*Tien Pham*/
.like-btn, .create-trip-btn, .share-btn  {
	margin:5px;
	width:140px;
	height:30px;
	color:#ffffff;
	font-size:18px;
	font-family: Tahoma;
	float:right;
	border: 0;
}

.like-btn {
	background-color:#4ad9d9;
}
.create-trip-btn {
	background-color:#8dc666;
}

.share-btn {
	background-color:#ff9900;
}

.related-post, .related-album {
	border: 1px solid #CCC;background: #FFF;Z-index: 0;
	padding:10px;
	border-radius:10px;
	margin-top:20px;
}

.related-post-title, .related-album-title {
	font-family: Tahoma;
	color:#f5a503;
	font-size: 18pt;
}

.related-album-title {
	color:#f2385a;
}

.related-post-detail, .related-album-detail {
	font-family: Tahoma;
	font-size:12pt;
}

.post-author, .album-author {
	font-family: Tahoma;
	font-size:16px;
	color:#979797;
	font-style:italic;
}

.user-avatar {
	border: 1px solid #CCC;background: #CCC;Z-index: 0;
	padding:3px;
	width:120px;
	height:120px;
	border-radius:5px;
	float:left;
	margin-right:10px;
}

.user-avatar img {
	width:120px;
}

.related-album-photos {
	width: 762px;
	overflow: hidden;
}
.related-album-photos .photo-strip {
	width: 2000px;
}
.related-album-photos img {
	height: 80px;
	border: 0;
	margin: -2px -2.5px -2px -2.5px;
}

/*LOGIN PAGE*/
.login-top-nav {
	width: 100%;
	height: 75px;
	margin: 0 auto;
	margin-top: 30px;
	background: url('images/bg_logo.png');
	position: relative;
}
.login-logo {
	position: absolute;
	top: 0;
}

.register-border {
	padding: 10px;
	border-radius: 10px;
	background: url('images/bg_black.png');
	margin-top: 50px;
	margin-bottom: 50px;
}

.register-page {
	height: 400px;
	border-radius: 10px;
	background: url('images/bg_login.jpg') center no-repeat;
}

table.register-form {	
	padding: 10px;
	width: 100%;
}

table.register-form td {
	width: 50%;
	padding: 10px;
	vertical-align: top;
	line-height: 25px;
	font-weight: bold;
}
.footer-login {
}

.textbox {
	border: 0;
	width: 200px;
	height: 30px;
	padding-left: 10px;
	color: #fff;
}

.form-title {
	font-size: 24pt;
	font-weight: bold;
	color: #000;
}

.register-intro {
	color: #fff;
	font-size: 14pt;
	font-style: italic;
	font-weight: normal;
}

.button {
	min-width: 150px;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 5px;
	color: #fff;
	font-size: 16pt;
	background: url('images/bg_logo.png');
}
/*FRIENDS list*/
.friend-icon {
	width: 111px;
	height: 111px;
	float: left;
	background: url('images/icon/canhan/banbe.png') no-repeat;
}
.friend-heading {
	width: 799px;
	padding: 60px 0px 0px 20px;	
	margin-right: 10px;
	float: left;
	color:	#3399cc;
	border-bottom: #3399cc solid 5px;
}

.friend-request-title,.friend-list-title {
	padding-bottom: 20px;
}

.friend-request-wrapper,.friend-list-wrapper {
	display: table;
}

.friend-request-box,.friend-list-box {
	width: 300px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin-left: 4px;
	margin-bottom: 5px;
}

.friend-request-user-photo ,.friend-list-user-photo {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.friend-request-user-info,.friend-list-user-info {
}

.friend-request-user-info .user-name,.friend-list-user-info .user-name {
	font-weight: bold;
	color: #990000;
}

.friend-request-buttons {
	text-align: right;
	padding-top: 10px;
}

.friend-request-buttons a {
	display: inline-block;
	text-align: center;
	color: #fff;
	width: 80px;
	padding: 3px;
	border-radius: 5px;
}

.friend-request-buttons a.accept {	
	background: url('Content/images/bg_friend.png');
}

.friend-request-buttons a.deny {
	background: #ccc;
}

/*TRAVEL trip*/
.trip-icon {
	width: 111px;
	height: 111px;
	float: left;
	background: url('images/icon/canhan/chuyendi.png') no-repeat;
}
.trip-heading {
	width: 799px;
	padding: 60px 0px 0px 20px;	
	margin-right: 10px;
	float: left;
	color:	#99cc66;
	border-bottom: #99cc66 solid 5px;
}
.trip-field-title {
	color: #aaa;
}
.trip-field-content {
	font-weight: bold;
}
.trip-field-content a {
	color: #ff9900;
}

.trip-parner-list {
}
.trip-parner {
	width: 60px;
	height: 60px;
	float: left;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	border: 5px solid #ccc;
	overflow: hidden;
}
.trip-parner:Hover {
	border: 5px solid #ff9900;
}
.trip-parner img {
	height: 60px;
}
.trip-album-photos {
	height: 128px;
	width: 678px;
	overflow: hidden;
}
.trip-album-photos  .photo-strip img {
	width: 128px;
}

/*VIEW POST*/
.post-user-avatar {
	width: 60px;
	height: 60px;
	float: left;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
	border: 5px solid #ccc;
	overflow: hidden;
}
.post-user-avatar:Hover {
	border: 5px solid #ff9900;
}
.post-user-avatar img {
	height: 60px;
}
.post-user-info {
	float: left;	
}
.post-user-info .user-name {
	font-size: 16pt;
	color: #990000;
}
.post-buttons {
	float:right;
}

/*EDIT PROFILE*/
.editprofile-heading {
	color: #ff3366;
	padding: 0px 0px 0px 0px;	
	float: left;
}