﻿@model DTOLibrary.BaiViet
@{
    DTOLibrary.THONGTIN accInfos = ViewBag.AccInfos;
    ViewBag.Title = accInfos.Ten + " - DiMuonNoi";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Nguyễn Cường Thịnh - DiMuonNoi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- HEADER & NAVIGATION -->
    <div class="container_24">
        <!-- popup box for uploading new avatar/cover photo -->
        <div id="box-popup-changeavt" class="grid_18 box-popup">
            <div class="box-titlebar" onclick="$('#box-popup-changeavt').toggle();">[X] Đóng</div>
            <div class="box-content">Upload avatar mới:</div>
            @using (@Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {                 
                <input type="file" value="Chọn hình" name="file" />
                <input type="submit" value="OK" />                                  
            }
        </div>
        <div id="box-popup-changecvr" class="grid_18 box-popup">
            <div class="box-titlebar" onclick="$('#box-popup-changecvr').toggle();">[X] Đóng</div>
            <div class="box-content">Upload cover mới:</div>
            @using (@Html.BeginForm("ChangeCover", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {                 
                <input type="file" value="Chọn hình" name="file" />
                <input type="submit" value="OK" />                                  
            }
        </div>
        <!-- left column (logo, menu) -->
        <div class="left-col">
            <!-- logo -->
            <div class="logo"></div>
            <!-- menu -->
            <div class="menu">

                @Html.ActionLink("Trang cá nhân", "Home", "Account", new object { }, new { @class = "item" })
                <a class="item" href="javascript:alert('Chức năng đang xây dựng');">Sửa thông tin</a>
                <a class="item" href="javascript:alert('Chức năng đang xây dựng');">Đăng xuất</a>

            </div>
        </div>

        <!-- column column (advertisements) -->
        <div class="right-col">
            <div class="grid_4 promotions">Khuyến mãi</div>
            <!-- Ads -->
            <div class="grid_4 ad-box">
                <div class="ad-box-content">
                    <img src="../../images/company/newworldhotel/albums/newroom/2.jpg" /><br />
                    New Rooms!<br />
                    at <a class="link" href="doanhnghiep.html">New World's Hotel</a>
                </div>
            </div>
            <div class="grid_4 ad-box">
                <div class="ad-box-content">
                    <img src="../../../Content/images/company/newworldhotel/photos/pool.jpg" /><br />
                    Da Pool~!<br />
                    New World's Hotel
                </div>
            </div>
            <div class="grid_4 ad-box">
                <div class="ad-box-content">
                    <img src="../../../Content/images/company/newworldhotel/albums/newroom/1.jpg" /><br />
                    New Promotion
                </div>
            </div>
            <div class="grid_4 ad-box">
                <div class="ad-box-content">
                    <img src="../../../Content/images/company/newworldhotel/albums/newroom/3.jpg" /><br />
                    Old Promotion
                </div>
            </div>
        </div>
        @if (Model != null)
        {
        <!-- SINGLE POST -->
        <div class="wrapper" style="border-top: 0;">
            <!-- trip heading -->
            <div class="nav" style="padding: 10px 0px 0px 13px">

                <div class="post-user-avatar">
                    <a href="canhan.html">
                        <img src="@Url.Content("~/" + accInfos.AnhDaiDien)">
                    </a>
                </div>
                <div class="post-user-info">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="user-name">@accInfos.Ten</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i>@accInfos.NgheNghiep</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Model.ThoiGianTao
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="post-buttons">
                    <button class="share-btn">Chia sẻ</button>
                    <button class="like-btn">Thích</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="container_24 user-post-item">
            <div class="wrapper">
                <table>
                    <tr>
                        <td valign="top" align="left">
                            <div class="album-title">@Model.TieuDe<span class="album-date">@Model.ThoiGianTao.Date</span></div>
                            <div class="album-detail">@Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model.NoiDung))</div>
                        </td>
                    </tr>
                    @if (Model.dsHinhMinhHoa() != null)
                    {
                        <tr>
                            <td valign="top" align="left" colspan="2">
                                <div class="album-photos">
                                    <div class="photo-strip">
                                        @foreach (DTOLibrary.HinhAnh hinh in Model.dsHinhMinhHoa())
                                        {
                                            <img src="@Url.Content("~/" + hinh.DuLieu)" />
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    <!-- COMMENT BOX -->
                    <tr>
                        <td valign="top" align="left" colspan="2">
                            <div class="post-statistics"><b>@Model.soLuotThich()</b> người thích &middot; <b>@Model.soLuotCamNhan()</b> lời bình luận &middot; <b>@Model.soLuotChiaSe()</b> lượt chia sẻ</div>
                            @if (Model.dsCamNhan != null)
                            {                    
                                <div class="post-comments">
                                    @foreach (DTOLibrary.CamNhan camnhan in Model.dsCamNhan)
                                    {                     
                                        <div class="single-comment">
                                            <table>
                                                <tr>
                                                    <td valign="top" align="left" width="50px">
                                                        <div class="comment-user-photo">
                                                            <img src="@Url.Content("~/" + camnhan.NguoiDung.AnhDaiDien)" width="100%" height="100%"/></div>
                                                    </td>
                                                    <td valign="top" align="left">
                                                        <div class="comment-user-info"><span class="user-name">@camnhan.NguoiDung.Ten</span> @camnhan.NguoiDung.NgheNghiep, @camnhan.NguoiDung.DiaChi</div>
                                                        <div class="comment-user-content">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.NoiDung))</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>	
                                    }
                                </div>
                            }
                            <!-- COMMENT FORM -->

                            <div class="form-comment">
                                <table>
                                    <tr>
                                        <td valign="top" align="left" width="50px" height="50px">
                                            <div class="comment-user-photo">
                                                <img src="@Url.Content("~/" + accInfos.AnhDaiDien)" width="100%" height="100%"/></div>
                                        </td>
                                        <td valign="top" align="left">
                                            <div class="input-wrapper">
                                                <div class="txt-comment">
                                                    <textarea rows="2" cols="70" class="txt-comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="input-wrapper">
                                                <input type="submit" class="sbm-comment" value="Gửi" /></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- end COMMENT BOX -->


                </table>
            </div>
        </div>
        <!-- END SINGLE POST -->
            }
    else
    {
        <div class="container_24 user-post-item">
        <div class="wrapper">
        <div class="album-title">Không tìm thấy bài viết!</div>
            </div>
            </div>

    }
        <div class="clear"></div>

        <div class="container_24 user-post-item">
            <div class="footer">
                <hr />
                <div class="footer-copyright">
                    Bản quyền thuộc DiMuonNoi
                </div>
                <div class="footer-links">
                    <a href="#">Giới thiệu</a>
                    <a href="#">Trợ giúp</a>
                    <a href="#">Quy định</a>
                    <a href="#">Báo cáo</a>
                </div>
            </div>
        </div>
</body>
</html>