﻿@model DTOLibrary.SubmittedPost

@{
    DTOLibrary.THONGTIN accInfos = ViewBag.AccInfos;
    ViewBag.Title = accInfos.Ten + " - DiMuonNoi";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>Nguyễn Cường Thịnh - DiMuonNoi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
</head>
<body>

<!-- HEADER & NAVIGATION -->
<div class="container_24">
	      <!-- popup box for uploading new avatar/cover photo -->
	    <div id="box-popup-changeavt" class="grid_18 box-popup">
		    <div class="box-titlebar" onClick="$('#box-popup-changeavt').toggle();">[X] Đóng</div>
		    <div class="box-content">Upload avatar mới:</div>
             @using (@Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {                 
                <input type="file" value="Chọn hình" name="file"/>
                <input type="submit" value="OK"/>                                  
             }
	    </div>
	    <div id="box-popup-changecvr" class="grid_18 box-popup">
		    <div class="box-titlebar" onClick="$('#box-popup-changecvr').toggle();">[X] Đóng</div>
		    <div class="box-content">Upload cover mới:</div>
             @using (@Html.BeginForm("ChangeCover", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {                 
                <input type="file" value="Chọn hình" name="file"/>
                <input type="submit" value="OK"/>                                  
             }
	    </div>
	<!-- left column (logo, menu) -->
	<div class="left-col">
		<!-- logo -->	
		<div class="logo"></div>
		<!-- menu -->
		<div class="menu">
        
		@Html.ActionLink("Trang cá nhân", "Home", "Account", new object { }, new { @class = "item"})
		<a class="item" href="javascript:alert('Chức năng đang xây dựng');">Sửa thông tin</a>
		<a class="item" href="javascript:alert('Chức năng đang xây dựng');">Đăng xuất</a>
        
		</div>
	</div>
	
	<!-- column column (advertisements) -->
	<div class="right-col">	
		<div class="grid_4 promotions">Khuyến mãi</div>
		<!-- Ads -->
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../images/company/newworldhotel/albums/newroom/2.jpg"  /><br />
			New Rooms!<br />
			at <a class="link" href="doanhnghiep.html">New World's Hotel</a>
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/photos/pool.jpg"  /><br />
			Da Pool~!<br />
			New World's Hotel
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/1.jpg"  /><br />
			New Promotion
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/3.jpg"  /><br />
			Old Promotion
		</div>	
		</div>
	</div>

	<div class="wrapper" style="border-top: 0;" >
		<!-- header -->
		<div class="header" >
			<!-- user photo -->  
           @* <div class="push_1 grid_4 user-photo" onMouseOver="$('#btn_changeAvatar').toggle();" onMouseOut="$('#btn_changeAvatar').toggle();">
			<div class="user-box-border">
				<img src="@Url.Content("~/" + accInfos.AnhDaiDien)"/>
			</div>
			<div id="btn_changeAvatar" class="btn-popup-changeavt" onClick="$('#box-popup-changeavt').toggle();">
             @using (@Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {
                 ViewBag.curHompageInfos = Model;
                 ViewBag.blah = "asdasdasdsad";
                <input type="file" value="Đổi hình đại diện" name="file"/>
                 <input type="submit" value="OK"/>
             }
            </div>			
			</div>    *@       
            <!-- user photo -->
			<div class="push_1 grid_4 user-photo" onMouseOver="$('#btn_changeAvatar').toggle();" onMouseOut="$('#btn_changeAvatar').toggle();">
			<div class="user-box-border">
				<img src="@Url.Content("~/" + accInfos.AnhDaiDien)"/>
			</div>
			<div id="btn_changeAvatar" class="btn-popup-changeavt" onClick="$('#box-popup-changeavt').toggle();">Đổi hình đại diện</div>			
			</div>
			
            
            
			<!-- user info -->
			<div class="push_1 grid_18 user-info" >
			<div class="user-box-border" >
				<table class="user-info-text">
					<tr>
						<td valign="top" align="left" width="400px">
							<div class="user-name">@accInfos.Ten</div>
							<div class="user-job">@accInfos.NgheNghiep</div>
						</td>
						<td valign="top" align="right">Hiện đang ở @accInfos.DiaChi</td>
					</tr>
					<tr>
						<td valign="bottom" align="left">Đã đặt chân đến 5 miền đất nước.</td>
						<td valign="bottom" align="right">"@accInfos.TamTrang"</td>
					</tr>
				</table>		
			</div>
			</div>			
		</div>
		<!-- search box -->
		<div class="search-box" >			
			<div class="push_14 grid_9 search-content">
				<form method="post" action="timkiem.html" onSubmit="alert('Demo: tìm kiếm địa điểm \'Tây Ninh\'');" >
					<input type="text" class="search-input" value="Điểm đến tiếp theo của bạn?.." onFocus="if(this.value=='Điểm đến tiếp theo của bạn?..')this.value='';" onBlur="if(this.value=='')this.value='Điểm đến tiếp theo của bạn?..';" />
					<div class="search-icon">
					<input type="submit" class="search-button" value="" />
					</div>
				</form>
			</div>			
		</div>		
        <!-- cover -->
		<div class="clear"></div>
		<div  onMouseOver="$('#btn_changeCover').toggle();" onMouseOut="$('#btn_changeCover').toggle();">
		<div class="grid_24 cover">
			<img src="@Url.Content("~/" + accInfos.AnhBia)" />		
		</div>
		<div id="btn_changeCover" class="btn-popup-changecvr" onClick="$('#box-popup-changecvr').toggle();">Đổi hình nền</div>
		</div>		

		<div class="clear"></div>
		<!-- navigator -->
		<div class="nav" style="padding: 10px 5px 0px 0px">
			<!-- nav buttons -->
			<div class="grid_3 nav-button"><a href="javascript:alert('Chức năng đang xây dựng');"><img src="../../../Content/images/icon/canhan/hinhanh.png" /></a></div>
			<div class="grid_3 nav-button"><a href="javascript:alert('Chức năng đang xây dựng');"><img src="../../../Content/images/icon/canhan/baiviet.png" /></a></div>
			<div class="grid_3 nav-button"><a href="javascript:alert('Chức năng đang xây dựng');"><img src="../../../Content/images/icon/canhan/chuyendi.png" /></a></div>
			<div class="grid_3 nav-button"><a href="javascript:alert('Chức năng đang xây dựng');"><img src="../../../Content/images/icon/canhan/yeuthich.png" /></a></div>
			<div class="grid_3 nav-button"><a href="javascript:alert('Chức năng đang xây dựng');"><img src="../../../Content/images/icon/canhan/banbe.png" /></a></div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!-- END HEADER & NAVIGATION -->
<div class="clear"></div>

<!-- SINGLE POST : ALBUM -->
<div class="container_24 user-post-item">
	<div class="wrapper" >
		<table>
			<tr>
				<td valign="top" align="left">
					<div class="album-title">Gửi bài viết mới</div>
				</td>
			</tr>
            <tr>
                <td>
                    @using (Html.BeginForm("New", "Post", FormMethod.Post)) 
                    {
                        @Html.LabelFor(Model => Model.Title)
                        @Html.TextBoxFor(Model => Model.Title)
                        <br />
                        @Html.LabelFor(Model => Model.Content)
                        @Html.TextAreaFor(Model => Model.Content, new { style = "width:100%;height:400px"})
                        <input type="submit" value="Gửi bài" />
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container_24 user-post-item">
<div class="footer">
	<hr />
	<div class="footer-copyright">
	Bản quyền thuộc DiMuonNoi
	</div>
	<div class="footer-links">
		<a href="javascript:alert('Chức năng đang xây dựng');">Giới thiệu</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Trợ giúp</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Quy định</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Báo cáo</a>		
	</div>
</div></div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/nicEdit.js")" "></script> 
    //<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
</body>
</html>