﻿@model List<List<DTOLibrary.FriendInfo>>
           
<head>
<meta charset="utf-8" />

@*<title>@Model.accInfos.Ten - Đi muôn nơi</title>*@
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
</head>
<body>

<!-- HEADER & NAVIGATION -->
<div class="container_24">
	      <!-- popup box for uploading new avatar/cover photo -->
	    <div id="box-popup-changeavt" class="grid_18 box-popup">
		    <div class="box-titlebar" onClick="$('#box-popup-changeavt').toggle();">[X] Đóng</div>
		    <div class="box-content">Upload avatar mới:</div>
             @using (@Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {                 
                <input type="file" value="Chọn hình" name="file"/>
                <input type="submit" value="OK"/>                                  
             }
	    </div>
	    <div id="box-popup-changecvr" class="grid_18 box-popup">
		    <div class="box-titlebar" onClick="$('#box-popup-changecvr').toggle();">[X] Đóng</div>
		    <div class="box-content">Upload cover mới:</div>
             @using (@Html.BeginForm("ChangeCover", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
             {                 
                <input type="file" value="Chọn hình" name="file"/>
                <input type="submit" value="OK"/>                                  
             }
	    </div>
	<!-- left column (logo, menu) -->
	<div class="left-col">
		<!-- logo -->	
		<div class="logo"></div>
		<!-- menu -->
		<div class="menu">
        
		<a class="item" href="canhan.html">Trang cá nhân</a>
		<a class="item" href="javascript:alert('Chức năng đang xây dựng');">Sửa thông tin</a>
		<a class="item" href="/Account/Logout">Đăng xuất</a>
        
		</div>
	</div>
	
	<!-- column column (advertisements) -->
	<div class="right-col">	
		<div class="grid_4 promotions">Khuyến mãi</div>
		<!-- Ads -->
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../images/company/newworldhotel/albums/newroom/2.jpg"  /><br />
			New Rooms!<br />
			at <a class="link" href="doanhnghiep.html">New World's Hotel</a>
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/photos/pool.jpg"  /><br />
			Da Pool~!<br />
			New World's Hotel
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/1.jpg"  /><br />
			New Promotion
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/3.jpg"  /><br />
			Old Promotion
		</div>	
		</div>
	</div>

	<div class="wrapper" style="border-top: 0;" >
		<!-- friend heading -->
		<div class="nav" style="padding: 10px 0px 0px 13px">
		
			<div class="friend-icon"></div>
			<div class="friend-heading">Bạn bè</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!-- END HEADER & FRIEND HEADING -->
<div class="clear"></div>

<!-- FRIEND REQUESTS -->
<div class="container_24 user-post-item">
	<div class="wrapper">
		<div class="friend-request-title">Lời mời kết bạn</div>
		<div class="friend-request-wrapper">
         @if (Model[0] != null)
         {
             foreach (DTOLibrary.FriendInfo friend in Model[0])
             {	
			<div class="friend-request-box">
				<table>
				<tr>
					<td valign="top" align="left" width="50px">
						<div class="friend-request-user-photo"><img src="@Url.Content("~/" + friend.AnhDaiDien)"/></div>
					</td>
					<td valign="top" align="left">
						<div class="friend-request-user-info"><span class="user-name"><span class="user-name"><a href="/Account/Info/@friend.Email">@friend.Ten</a></span><br />@friend.NgheNghiep</div>
						<div class="friend-request-buttons">
							<a class="accept" href="/Friend/AddFriend/@friend.Email">Chấp nhận</a>
							<a class="deny" href="#deny">Từ chối</a>
						</div>
					</td>
				</tr>
				</table>
			</div>	
             }
         }		
		</div>
	</div>
</div>
<!-- END FRIEND REQUESTS -->
<div class="clear"></div>

<!-- FRIEND LIST -->
<div class="container_24 user-post-item">
	<div class="wrapper">
		<div class="friend-list-title">Bạn bè</div>
		<div class="friend-list-wrapper">
        @if (Model[1] != null)
        {
            foreach (DTOLibrary.FriendInfo friend in Model[1])
            {		
            
			<div class="friend-list-box">
				<table>
				<tr>
					<td valign="top" align="left" width="50px">
						<div class="friend-list-user-photo"><img src="@Url.Content("~/" + friend.AnhDaiDien)" /></div>
					</td>
					<td valign="top" align="left">
						<div class="friend-list-user-info"><span class="user-name"><a href="/Account/Info/@friend.Email">@friend.Ten</a></span><br />@friend.NgheNghiep</div>
					</td>
				</tr>
				</table>
			</div>
            }
        }
		</div>
	</div>
</div>
<!-- END FRIEND LIST -->
<div class="clear"></div>