﻿<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
-->
@model DTOLibrary.AccountLogin
<head>
    <meta charset="utf-8" />
    <title>DiMuonNoi.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="login-top-nav">
    </div>
    <!-- HEADER & NAVIGATION -->
    <div class="container_24">
        <!-- logo -->
        <div class="logo login-logo">
        </div>
        <div class="clear">
        </div>
        <div class="grid_24">
            <div class="register-border">
                <div class="register-page">
                    <div class="grid_8" style="margin-left: 0px; margin-right: -10px;">
                        <!--Login-->
                        <!--<form action="/Account/Login" name="f_login" method="post">-->
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { name = "f_login" }))
                        {
                            <table class="register-form" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="form-title">
                                        Đăng nhập
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email<br />
                                        <!--<input type="text" class="textbox" name="login_email" />-->
                                        @Html.TextBoxFor(model => model.Email, new { @class = "textbox", name = "login_email" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mật khẩu<br />
                                        <!--<input type="password" class="textbox" name="login_pwd" />-->
                                        @Html.PasswordFor(model => model.Password, new { @class = "textbox", name = "login_pwd" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (ViewBag.Status == "Login Failed")
                                   {
                                            <h1 class="status_err">
                                                Tài khoản hoặc mật khẩu không đúng</h1>
                                   }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 40px">
                                        <input type="submit" class="button" name="login_submit" value="Đăng nhập" />
                                    </td>
                                </tr>
                            </table>
                        }
                        <!--</form>-->
                    </div>
                    <div class="err_zone">
                        @Html.ValidationSummary(false)
                    </div>
                    @Html.Partial("Register");
                    <!--
                    <div class="grid_16" style="margin-left: 0px; margin-right: 0px;">
                    <!--Register
                        <form action="/Account/Register" name="f_register" method="post">
                        <table class="register-form" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="form-title" colspan="2">
                                    Đăng ký tài khoản
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Họ tên:<br />
                                    <input type="text" class="textbox" name="register_fullname" />
                                </td>
                                <td rowspan="3">
                                    <div class="register-intro">
                                        Mỗi bước chân là một điều mới mẻ. Đừng ngại ngần, hãy cất bước ra đi.<br />
                                        Hãy Đi Muôn Nơi và để lại dấu chân trên khắp mọi miền đất nước.<br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email:<br />
                                    <input type="text" class="textbox" name="register_email" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mật khẩu:<br />
                                    <input type="text" class="textbox" name="register_pwd" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input type="submit" class="button" name="register_submit" value="Đăng Ký" />
                                </td>
                            </tr>
                        </table>
                        </form>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="container_24 user-post-item footer-login">
            <div class="footer">
                <div class="footer-copyright">
                    Bản quyền thuộc DiMuonNoi
                </div>
                <div class="footer-links">
                    <a href="javascript:alert('Chức năng đang xây dựng');">Giới thiệu</a> <a href="javascript:alert('Chức năng đang xây dựng');">
                        Trợ giúp</a> <a href="javascript:alert('Chức năng đang xây dựng');">Quy định</a>
                    <a href="javascript:alert('Chức năng đang xây dựng');">Báo cáo</a>
                </div>
            </div>
        </div>
</body>
</html> 