﻿@model DTOLibrary.AccountRegister
           
<head>
    <meta charset="utf-8" />
    <title>DiMuonNoi.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
</head>

<div class="grid_16" style="margin-left: 0px; margin-right: 0px;">
                    <!--Register-->
                       <!--<form action="/Account/Register" name="f_register" method="post">-->
                       @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "f_register" }))
                       {
                        <table class="register-form" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="form-title" colspan="2">
                                    Đăng ký tài khoản
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Họ tên:<br />
                                    <!--<input type="text" class="textbox" name="register_fullname" />-->                                    
                                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox", name = "register_fullname" })
                                </td>
                                <td rowspan="3">
                                    <div class="register-intro">
                                        Mỗi bước chân là một điều mới mẻ. Đừng ngại ngần, hãy cất bước ra đi.<br />
                                        Hãy Đi Muôn Nơi và để lại dấu chân trên khắp mọi miền đất nước.<br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email:<br />
                                    <!--<input type="text" class="textbox" name="register_email" />-->
                                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox", name = "register_email" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mật khẩu:<br />
                                    <!--<input type="text" class="textbox" name="register_pwd" />-->
                                    @Html.PasswordFor(model => model.Password, new { @class = "textbox", name = "register_pwd" })
                                   
                                </td>                                 
                            </tr>

                            @*Loại người dùng<~~*@

                            <tr>
                                <td>
                                    Tôi là doanh nghiệp:
                                    <!--<input type="text" class="textbox" name="register_pwd" />-->
                                    @Html.CheckBoxFor(model => model.isBusiness)                                   
                                </td>                                 
                            </tr>
                            <tr>
                             @if (ViewBag.Status == "Register Failed")
                                   {
                                       <h1 class="status_err"> Tài khoản đã tồn tại!</h1>
                                   }
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input type="submit" class="button" name="register_submit" value="Đăng Ký" />
                                </td>
                            </tr>
                        </table>
                       }<!--</form>-->
                    </div>


