﻿<!-- SINGLE POST : ALBUM -->
@model List<DTOLibrary.TaiNguyen>
<div class="container_24 user-post-item">
@{    
     
    DTOLibrary.THONGTIN curUserInfo = ViewBag.curUser;
    String email = Request.Cookies["Email"].Value;
}
@if (Model != null)
{
foreach (DTOLibrary.TaiNguyen tainguyen in Model)
{
   
	<div class="wrapper" >
		<table>
         @if (tainguyen.LoaiTN.Equals(DTOLibrary.LOAITN.ALBUM))
            {
            
			<tr>
				<td valign="top" align="left">
					<div class="album-title">@tainguyen.TieuDe<span class="album-date">@tainguyen.ThoiGianTao.Date</span></div>
					<div class="album-detail">@tainguyen.NoiDung</div>					
				</td>
			</tr>
             if (tainguyen.dsHinhMinhHoa() != null)
                {
			    <tr>
				    <td valign="top" align="left" colspan="2">
					    <div class="album-photos">
						    <div class="photo-strip">                                               
                                @foreach (DTOLibrary.HinhAnh hinh in tainguyen.dsHinhMinhHoa())
                                {
                                    <img src="@Url.Content("~/" + hinh.DuLieu)" />
                                }                        							
						    </div>
					    </div>
				    </td>
			    </tr>
                 }
             }
             @if (tainguyen.LoaiTN.Equals(DTOLibrary.LOAITN.BAIVIET))
            {
            
			<tr>
				<td valign="top" align="left">
					<div class="album-title">@tainguyen.TieuDe<span class="album-date">@tainguyen.ThoiGianTao.Date</span></div>

					<div class="album-detail">@Html.Raw(System.Web.HttpUtility.HtmlDecode(tainguyen.NoiDung))</div>					
				</td>
			</tr>            
             }
			<!-- COMMENT BOX -->
			<tr>
				<td valign="top" align="left" colspan="2">
					<div class="post-statistics"><b>@tainguyen.soLuotThich()</b> người thích &middot; <b>@tainguyen.soLuotCamNhan()</b> lời bình luận &middot; <b>@tainguyen.soLuotChiaSe()</b> lượt chia sẻ</div>
					@if (tainguyen.dsCamNhan != null)
                    {                    
                        <div class="post-comments">   
                        @foreach (DTOLibrary.CamNhan camnhan in tainguyen.dsCamNhan)
                        {                     
						    <div class="single-comment">
							    <table>
							    <tr>
								    <td valign="top" align="left" width="50px">
									    <div class="comment-user-photo"><img src="@Url.Content("~/"+camnhan.NguoiDung.AnhDaiDien)" width="100%" height="100%"/></div>
								    </td>
								    <td valign="top" align="left">
									    <div class="comment-user-info"><span class="user-name">@camnhan.NguoiDung.Ten</span> @camnhan.NguoiDung.NgheNghiep, @camnhan.NguoiDung.DiaChi</div>
									    <div class="comment-user-content">@camnhan.NoiDung</div>
								    </td>
							    </tr>
							    </table>	
						    </div>	
                        }					
					</div>
                    }
                     <!-- COMMENT FORM -->

						<div class="form-comment">
							<table>
							<tr>
								<td valign="top" align="left" width="50px" height="50px">
                                    <div class="comment-user-photo"> <img src="@Url.Content("~/"+curUserInfo.AnhDaiDien)" width="100%" height="100%"/></div>									
								</td>
								<td valign="top" align="left">
									<div class="input-wrapper">
										<div class="txt-comment">
											<textarea rows="2" cols="70" class="txt-comment"></textarea>
										</div>
									</div>
									<div class="input-wrapper"><input type="submit" class="sbm-comment" value="Gửi" name="@email"/></div>
								</td>
							</tr>
							</table>	
						</div>
				</td>
			</tr>
			<!-- end COMMENT BOX -->
           
					
		</table>
	</div>

}
}
