﻿@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    bool isOwner = false;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}

<div class="left-col">
    <!-- logo -->
    <div class="logo">
    </div>
    <!-- menu -->
    <div class="menu">
        <a class="item" href="/Account/Home">Trang cá nhân</a> <a class="item" href="/Account/ChangeInfo">
            Sửa thông tin</a> <a class="item" href="/Account/Logout">Đăng xuất</a>
    </div>
</div>
        