﻿<!DOCTYPE html>
<html>

<head>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />            
</head>

<body>
    @RenderBody()
</body>
</html>
