﻿           
@{
    
    DTOLibrary.THONGTIN Model = ViewBag.UserInfo;


    bool isOwner = false;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
        
    String userParrentView = "PersonalUser";
    String userType = ViewBag.userType;
    if (userType.Equals("DOANHNGHIEP"))
    {
        userParrentView = "BusinessUser";
    }
    else
    {
        
    }
    
    
}
<head>
    <meta charset="utf-8" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@Model.Ten - Đi muôn nơi</title>
</head>
<body>
    <!-- HEADER & NAVIGATION -->
    <div class="container_24">
        <!-- left column (logo, menu) -->
        @Html.Partial("../User/SettingControl")
        <!-- column column (advertisements) -->
        @Html.Partial("../BusinessUser/Advertisements")
        <div class="wrapper" style="border-top: 0;">
            @Html.Partial("../"+userParrentView+"/Header", Model)
            <!-- navigator -->
            @Html.Partial("../" + userParrentView + "/Toolbar")
            </div>
    </div>
    <!-- END HEADER & NAVIGATION -->
    <div class="clear">
    </div>

    @RenderBody()

    <div class="container_24 user-post-item">
        <div class="footer">
            <hr />
            <div class="footer-copyright">
                Bản quyền thuộc DiMuonNoi
            </div>
            <div class="footer-links">
                <a href="javascript:alert('Chức năng đang xây dựng');">Giới thiệu</a> <a href="javascript:alert('Chức năng đang xây dựng');">
                    Trợ giúp</a> <a href="javascript:alert('Chức năng đang xây dựng');">Quy định</a>
                <a href="javascript:alert('Chức năng đang xây dựng');">Báo cáo</a>
            </div>
        </div>
    </div>
</body>
</html>