﻿@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    bool isOwner = false;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}

<div class="right-col">
    <div class="grid_4 promotions">
        Khuyến mãi</div>
    <!-- Ads -->
    <div class="grid_4 ad-box">
        <div class="ad-box-content">
            <img src="../../images/company/newworldhotel/albums/newroom/2.jpg" /><br />
            New Rooms!<br />
            at <a class="link" href="doanhnghiep.html">New World's Hotel</a>
        </div>
    </div>
    <div class="grid_4 ad-box">
        <div class="ad-box-content">
            <img src="../../../Content/images/company/newworldhotel/photos/pool.jpg" /><br />
            Da Pool~!<br />
            New World's Hotel
        </div>
    </div>
    <div class="grid_4 ad-box">
        <div class="ad-box-content">
            <img src="../../../Content/images/company/newworldhotel/albums/newroom/1.jpg" /><br />
            New Promotion
        </div>
    </div>
    <div class="grid_4 ad-box">
        <div class="ad-box-content">
            <img src="../../../Content/images/company/newworldhotel/albums/newroom/3.jpg" /><br />
            Old Promotion
        </div>
    </div>
</div>
        