﻿@model DTOLibrary.THONGTINDOANHNGHIEP
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    bool isOwner = false;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}
<div id="box-popup-changeavt" class="grid_18 box-popup">
    <div class="box-titlebar" onclick="$('#box-popup-changeavt').toggle();">
        [X] Đóng</div>
    <div class="box-content">
        Upload avatar mới:</div>
    @using (@Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {                 
        <input type="file" value="Chọn hình" name="file" />
        <input type="submit" value="OK" />                                  
    }
</div>
<div id="box-popup-changecvr" class="grid_18 box-popup">
    <div class="box-titlebar" onclick="$('#box-popup-changecvr').toggle();">
        [X] Đóng</div>
    <div class="box-content">
        Upload cover mới:</div>
    @using (@Html.BeginForm("ChangeCover", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {                 
        <input type="file" value="Chọn hình" name="file" />
        <input type="submit" value="OK" />                                  
    }
</div>
<div class="wrapper" style="border-top: 0;">
    <!-- header -->
    <div class="header">
        @if (isOwner)
        {		
            <!-- user photo -->
            <div class="push_1 grid_4 user-photo" onmouseover="$('#btn_changeAvatar').toggle();"
                onmouseout="$('#btn_changeAvatar').toggle();">
                <div class="user-box-border">
                    <img src="@Url.Content("~/" + Model.AnhDaiDien)"/>
                </div>
                <div id="btn_changeAvatar" class="btn-popup-changeavt" onclick="$('#box-popup-changeavt').toggle();">
                    Đổi hình đại diện</div>
            </div>
        }
        else
        {
            <div class="push_1 grid_4 user-photo">
                <div class="user-box-border">
                    <img src="@Url.Content("~/" + Model.AnhDaiDien)"/>
                </div>
                <div id="btn_changeAvatar" class="btn-popup-changeavt" onclick="$('#box-popup-changeavt').toggle();">
                    Đổi hình đại diện</div>
            </div>
			
        }
        <!-- user info -->
        <div class="push_1 grid_18 user-info">
            <div class="user-box-border">
                <table class="user-info-text">
                    <tr>
                        <td valign="top" align="left" width="400px">
                            <div class="user-name">@Model.Ten</div>
                            <div class="user-job">@Model.NgheNghiep</div>
                        </td>
                        <td valign="top" align="right">
                            Hiện đang ở @Model.DiaChi
                        </td>
                    </tr>
                    <tr>                        
                        <td valign="bottom" align="right">
                            "@Model.TamTrang"
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- friends toolbox 
3/5/2013 chua add
-->
    @if (!isOwner)
    {

        String friendState = (String)ViewBag.FriendState;
        if (!friendState.Equals("ChuaDangNhap"))
        {
            String btnText = "Kết bạn";
            if (friendState.Equals("BanBe"))
            {
                btnText = "Đã kết bạn";
            }
            else if (friendState.Equals("ChoDongY"))
            {
                btnText = "Xác nhận bạn bè";
            }
            else if (friendState.Equals("DaYeuCau"))
            {
                btnText = "Đã gửi yêu cầu";
            }
                
        <div class="friends-toolbox">
            <div class="push_15 grid_9 tools">
                <a href="/Friend/AddFriend/@ViewBag.email">
                    <input type="button" class="btn-tool" value="@btnText" />
                </a>
                <!--<input type="button" class="btn-tool" value="Bạn bè" />-->
                <input type="button" class="btn-tool" value="Nhắn tin" />
            </div>
        </div>
        }
    }
    else
    {	
        <!-- search box -->
        <div class="search-box">
            <div class="push_14 grid_9 search-content">
                <form method="post" action="timkiem.html" onsubmit="alert('Demo: tìm kiếm địa điểm \'Tây Ninh\'');">
                <input type="text" class="search-input" value="Điểm đến tiếp theo của bạn?.." onfocus="if(this.value=='Điểm đến tiếp theo của bạn?..')this.value='';"
                    onblur="if(this.value=='')this.value='Điểm đến tiếp theo của bạn?..';" />
                <div class="search-icon">
                    <input type="submit" class="search-button" value="" />
                </div>
                </form>
            </div>
        </div>
    }
    <!-- cover -->
    @if (isOwner)
    {
        <div class="clear">
        </div>
        <div onmouseover="$('#btn_changeCover').toggle();" onmouseout="$('#btn_changeCover').toggle();">
            <div class="grid_24 cover">
                <img src="@Url.Content("~/" + Model.AnhBia)" />
            </div>
            <div id="btn_changeCover" class="btn-popup-changecvr" onclick="$('#box-popup-changecvr').toggle();">
                Đổi hình nền</div>
        </div>		
    }
    else
    {
        <div class="grid_24 cover">
            <img src="@Url.Content("~/" + Model.AnhBia)" />
        </div>
    }
    <div class="clear">
    </div>
