﻿@using DTOLibrary;
@{
    DTOLibrary.THONGTINCANHAN accInfos = ViewBag.AccInfos;
    ViewBag.Title = accInfos.Ten + " - DiMuonNoi";
    List<RetrievedPost> UserPosts = ViewBag.UserPosts;
    List<RetrievedPost> SystemPosts = ViewBag.SystemPosts;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>Nguyễn Cường Thịnh - DiMuonNoi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="@Url.Content("~/Content/960_24_col.css")" 
                   rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" 
                   rel="stylesheet" type="text/css" />
</head>
<body>

<!-- HEADER & NAVIGATION -->
<div class="container_24">
	
	<!-- left column (logo, menu) -->
	<div class="left-col">
		<!-- logo -->	
		<div class="logo"></div>
		<!-- menu -->
		<div class="menu">
        
        @Html.ActionLink("Trang cá nhân", "Home", "Account", new object { }, new { @class = "item"})
		<a class="item" href="javascript:alert('Chức năng đang xây dựng');">Sửa thông tin</a>
		<a class="item" href="javascript:alert('Chức năng đang xây dựng');">Đăng xuất</a>
        
		</div>
	</div>
	
	<!-- column column (advertisements) -->
	<div class="right-col">	
		<div class="grid_4 promotions">Khuyến mãi</div>
		<!-- Ads -->
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../Content/images/company/newworldhotel/albums/newroom/2.jpg"  /><br />
			New Rooms!<br />
			at <a class="link" href="doanhnghiep.html">New World's Hotel</a>
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/photos/pool.jpg"  /><br />
			Da Pool~!<br />
			New World's Hotel
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/1.jpg"  /><br />
			New Promotion
		</div>	
		</div>
		<div class="grid_4 ad-box" >
		<div class="ad-box-content" >
			<img src="../../../Content/images/company/newworldhotel/albums/newroom/3.jpg"  /><br />
			Old Promotion
		</div>	
		</div>
	</div>
<div class="wrapper" style="border-top: 0;" >
		<!-- search heading -->
		<div class="nav" style="padding: 10px 5px 0px 13px">
			<span class="search-heading">Tìm kiếm </span><span class="place-to-search">"@Model.Keyword"</span>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!-- END HEADER & SEARCH HEADING -->
<div class="clear"></div>

<!-- PLACE DESCRIPTION -->

<div class="container_24 user-post-item">
	<div class="wrapper" >
		<table>
			<tr>
                <td valign="top" align="left">
                    @if (SystemPosts.Count != 0)
                    {
                        foreach (RetrievedPost p in SystemPosts)
                        {
                            <div class ="related-post">
					        <div class="place-title">@p.Title
						        <button class="like-btn">Yêu thích</button><button class="create-trip-btn">Lập chuyến đi</button>
					        </div>
					        <div class="clear"></div>
					        <div class="place-detail">@p.Content.</div>
                            </div>				
                        } 
                    }
                    else
                    {
                        <div class="place-title">Không tìm thấy thông tin từ hệ thống với từ khóa <span class="place-to-search">"@Model.Keyword"</span> </div>	
                    }
                </td>
			</tr>
		</table>
	</div>
</div>
<!-- END PLACE DESCRIPTION -->

@if (UserPosts != null)
{
<!-- RELATED POSTS AND ALBUMS -->
<div class="container_24 user-post-item">
	<div class="wrapper" >
		<table>
			<tr>
				<td valign="top" align="left">
					<div class="related-info-title">Thông tin liên quan</div>
				</td>
			</tr>
			<tr>
				<td>
                    @if (UserPosts.Count != 0)
                    {
                        foreach (RetrievedPost p in UserPosts)
                        {
                            <div class="related-post">
						        <table>
							        <tr>
								        <td valign="top" align="left" width="130px">
									        <div class="user-avatar" >
										        <img src="@Url.Content("~/UserDatas/Images/" + p.AvatarUrl + ".jpg")"  />
									        </div>	
								        </td>
								        <td valign="top" align="left">
									        <div class="related-post-title">@Html.ActionLink("Bài viết: " + @p.Title, "Index", "Post", new { Id = @p.Id }, new { }) <span class="post-author">bởi @p.Name </span></div>
									        <div class="related-post-detail">
										        @Html.Raw(System.Web.HttpUtility.HtmlDecode(p.Content))
									        </div>					
								        </td>
							        </tr>
						        </table>
					        </div>
                        }
                    }
                    else
                    {
                        <div class="place-title">Không tìm thấy bài viết từ khóa <span class="place-to-search">"@Model.Keyword"</span> </div>	
                    }
				</td>	
			</tr>
		</table>
	</div>
</div>
}
<!-- END RELATED POSTS AND ALBUMS -->


<div class="container_24 user-post-item">
<div class="footer">
	<hr />
	<div class="footer-copyright">
	Bản quyền thuộc DiMuonNoi
	</div>
	<div class="footer-links">
		<a href="javascript:alert('Chức năng đang xây dựng');">Giới thiệu</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Trợ giúp</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Quy định</a>
		<a href="javascript:alert('Chức năng đang xây dựng');">Báo cáo</a>		
	</div>
</div></div>

</body>
</html>