﻿<!-- SINGLE POST : ALBUM -->
@model DTOLibrary.THONGTINCANHAN
<div class="container_24 user-post-item">
@{    
     
    DTOLibrary.THONGTIN curUserInfo = ViewBag.curUser;
    String email = Request.Cookies["Email"].Value;
}
<div class="wrapper" >
                       <!--<form action="/Account/Register" name="f_register" method="post">-->
                       @using (Html.BeginForm("ChangeInfo", "PersonalUser", FormMethod.Post, new { name = "f_register" }))
                       {
                        <table class="register-form" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="form-title" colspan="2">
                                    Sửa thông tin cá nhân
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Họ Tên:<br />
                                    <!--<input type="text" class="textbox" name="register_fullname" />-->                                    
                                    @Html.TextBoxFor(model => model.Ten, new { @class = "textbox", name = "register_fullname" })
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    Giới tính:<br />
                                    <!--<input type="text" class="textbox" name="register_email" />-->
                                    @Html.DropDownListFor(model => model.GioiTinh, Model.DSGioiTinh())
                                    @*@Html.TextBoxFor(model => model.GioiTinh, new { @class = "textbox", name = "register_email" })*@
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   Ngày sinh:<br />
                                    <!--<input type="text" class="textbox" name="register_email" />-->
                                    @Html.TextBoxFor(model => model.NgaySinh, new { @class = "textbox", name = "register_email" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nghề nghiệp:<br />
                                    <!--<input type="text" class="textbox" name="register_email" />-->
                                    @Html.TextBoxFor(model => model.NgheNghiep, new { @class = "textbox", name = "register_email" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Địa chỉ:<br />
                                    <!--<input type="text" class="textbox" name="register_email" />-->
                                    @Html.TextBoxFor(model => model.DiaChi, new { @class = "textbox", name = "register_email" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Điện thoại:<br />
                                    <!--<input type="text" class="textbox" name="register_pwd" />-->
                                    @Html.TextBoxFor(model => model.DienThoai, new { @class = "textbox", name = "register_pwd" })
                                   
                                </td>                                 
                                @if (ViewBag.changeInfo != null && (bool)ViewBag.changeInfo == true)
                                {
                                    <h1 class="status_err"> Thay đổi thông tin thất bại!</h1>
                                }  
                            </tr>
                             

                            @*Loại người dùng<~~*@
                           
                            <tr>
                                <td align="center" colspan="2">
                                    <input type="submit" class="button" name="register_submit" value="Thay đổi" />
                                </td>
                            </tr>
                        </table>
                       }<!--</form>-->
                    </div>
