﻿@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    bool isOwner = false;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}

 <div class="nav" style="padding: 10px 5px 0px 0px">
    <!-- status form -->
    @if (isOwner)
    {
    <div class="grid_8 statusForm">
        <form method="post" name="statusForm">
        <div class="txt-status">
            <textarea class="txtStatus">Nhập thông điệp của bạn</textarea></div>
        <div class="btn-photo">
            <input type="button" class="btnPhoto" value="+ Thêm ảnh" /></div>
        <div class="btn-submit">
            <input type="button" class="btnSubmit" value="Gửi" /></div>
        </form>
    </div>
    }
    <!-- nav buttons -->
    <div class="grid_3 nav-button">
        <a href="javascript:alert('Chức năng đang xây dựng');">
            <img src="../../../Content/images/icon/canhan/hinhanh.png" /></a></div>
    <div class="grid_3 nav-button">
        <a href="/Post/New">
            <img src="../../../Content/images/icon/canhan/baiviet.png" /></a></div>
    <div class="grid_3 nav-button">
        <a href="javascript:alert('Chức năng đang xây dựng');">
            <img src="../../../Content/images/icon/canhan/chuyendi.png" /></a></div>
    <div class="grid_3 nav-button">
        <a href="javascript:alert('Chức năng đang xây dựng');">
            <img src="../../../Content/images/icon/canhan/yeuthich.png" /></a></div>
    <div class="grid_3 nav-button">
        <a href="/Friend/Index">
            <img src="../../../Content/images/icon/canhan/banbe.png" /></a></div>
    <div class="clear">
    </div>
    </div>
       